header {
    text-align: center;
    padding: 10px 0;
}

h1 {
    font-size: 200%;
    padding: 10px;
}

body {
    line-height: 1.5;
}

h2 {
    padding-left: 10px;
    border: 1px solid black;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    justify-content: space-evenly;
}

.code-card {
    flex: 1 1 100%;
    padding: 10px;
    border: 1px dashed black;
    margin: 10px;
    min-width: 450px;
}

section {
    display: block;
    /* max-width: 400px;     */
}

pre {
    padding-top: 5px;
    margin-bottom: 10px;
    height: 80%;
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
}