header {
    text-align: center;
    padding: 10px 0;
}

h1 {
    font-size: 200%;
    padding: 10px;
}

body {
    line-height: 1.5;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section {
    flex: 1 1 300px;    
}